<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Crm" connectionString="AuthType=Office365;Username=DARS.Online@HSCIC365.onmicrosoft.com; Password=Cona9850;Url=https://hscicdevr26.crm11.dynamics.com" />
  </connectionStrings>
  <appSettings>
    <add key="CRMConnectionString" value="AuthType=Office365;Username=DARS.Online@HSCIC365.onmicrosoft.com; Password=Cona9850;Url=https://hscicdevr26.crm11.dynamics.com" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
