<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogToConsole="true"
      internalLogLevel="info"
      internalLogFile="Logs\NHSD-GPITF-BuyingCatalog-internal.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target name="File-All"
            xsi:type="File"
            fileName="Logs\NHSD-GPITF-BuyingCatalog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- another file log, only BuyingCatalog logs. Uses some ASP.NET core renderers -->
    <target name="File-Own-Web"
            xsi:type="File"
            fileName="Logs\NHSD-GPITF-BuyingCatalog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <!-- Console if available -->
    <target name="Console"
            xsi:type="Console"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- SqlServer database - note we do NOT have to set dbProvider as nLog has built in support for MSSQLServer -->
    <target name="Database-SqlServer"
            xsi:type="Database"
            keepConnection="false"
            connectionString="${gdc:item=LOG_CONNECTIONSTRING}"
            commandType="Text"
            commandText="INSERT into Log(Timestamp, Loglevel, Callsite, Message) values(@Timestamp, @Loglevel, @Callsite, @Message)">
      <parameter name="@Timestamp" layout="${longdate}"/>
      <parameter name="@Loglevel" layout="${level:uppercase=true}"/>
      <parameter name="@Callsite" layout="${callsite}"/>
      <parameter name="@Message" layout="${message}"/>
    </target>

    <!-- SQLite database -->
    <!--
    <target name="Database-SQLite"
            xsi:type="Database"
            keepConnection="false"
            dbProvider="Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite"
            connectionString="${gdc:item=LOG_CONNECTIONSTRING}"
            commandType="Text"
            commandText="INSERT into Log(Timestamp, Loglevel, Callsite, Message) values(@Timestamp, @Loglevel, @Callsite, @Message)">
      <parameter name="@Timestamp" layout="${longdate}"/>
      <parameter name="@Loglevel" layout="${level:uppercase=true}"/>
      <parameter name="@Callsite" layout="${callsite}"/>
      <parameter name="@Message" layout="${message}"/>
    </target>
    -->

    <!-- MySQL database -->
    <!--
    <target name="Database-MySQL"
            xsi:type="Database"
            keepConnection="false"
            dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
            connectionString="${gdc:item=LOG_CONNECTIONSTRING}"
            commandType="Text"
            commandText="INSERT into Log(Timestamp, Loglevel, Callsite, Message) values(@Timestamp, @Loglevel, @Callsite, @Message)">
      <parameter name="@Timestamp" layout="${longdate}"/>
      <parameter name="@Loglevel" layout="${level:uppercase=true}"/>
      <parameter name="@Callsite" layout="${callsite}"/>
      <parameter name="@Message" layout="${message}"/>
    </target>
    -->

    <!-- PostgreSql database -->
    <!--
      <target name="Database-PostgreSql"
              xsi:type="Database"
              keepConnection="false"
              dbProvider="Npgsql.NpgsqlConnection, Npgsql"
              connectionString="${gdc:item=LOG_CONNECTIONSTRING}"
              commandType="Text"
              commandText="INSERT into Log(Timestamp, Loglevel, Callsite, Message) values(@Timestamp, @Loglevel, @Callsite, @Message)">
        <parameter name="@Timestamp" layout="${longdate}"/>
        <parameter name="@Loglevel" layout="${level:uppercase=true}"/>
        <parameter name="@Callsite" layout="${callsite}"/>
        <parameter name="@Message" layout="${message}"/>
      </target>
    -->
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="File-All" />

    <!-- Everything goes to the Console -->
    <logger name="*" minlevel="Trace" writeTo="Console" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />

    <!-- Only BuyingCatalog, suitably formatted -->
    <logger name="*" minlevel="Trace" writeTo="File-Own-Web" />

    <!-- Various databases -->
    <logger name="*" minlevel="Trace" writeTo="Database-SqlServer" />
    <!--<logger name="*" minlevel="Trace" writeTo="Database-SQLite" />-->
    <!--<logger name="*" minlevel="Trace" writeTo="Database-MySQL" />-->
    <!--<logger name="*" minlevel="Trace" writeTo="Database-PostgreSql" />-->
  </rules>
</nlog>
