.page-main-heading {
  margin: 1.5em 0 1em;

  h1 {
    color: $color-nhs-black;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
  }

  h2 {
    font-size: 1rem;
    margin: .3em 0 0;
  }

  p {
    margin: .5em 0 0;
  }

  .instructions {
    color: $color-nhs-dark-grey;
    font-weight: bolder;
  }
}
